@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 2.4rem;
}

.title {
    font-size: 2.5rem;
    margin-right: 2rem;
}

.title > *:nth-child(1), .title > *:nth-child(3) {
    color: yellow;
}

.search-bar {
    display: flex;
    flex-grow: 1;
}

.search-bar input {
    width: 350px;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: .5rem 1rem;
}

.search-bar i {
    background-color: yellow;
    color: #111;
    height: 100%;
    border-radius: 0 20px 20px 0;
    font-size: 1.5rem;
    padding: .45rem;
}

.basket {
    display: flex;
    color: yellow;
    font-size: 1.5rem;
    align-items: center;
    gap: 1rem;
}

.fa-close {
    display: none;
    color: yellow;
    font-size: .9rem;
    align-self: start;
    cursor: pointer;
}

.fa-close.active {
    display: block;
} 

main {
    display: flex;
    flex-direction: column;
}

.categories-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.categories-list h1 {
    font-size: 3rem;
    letter-spacing: 1px;
    margin: 1rem 0;
}

.categories-item {
    display: flex;
    gap: 1rem;
}

.categories-item > * {
    font-family: inherit;
    font-size: 1.4rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    padding: .5rem .8rem;
    transition: all .3s ease-in-out;
}

.categories-item > *:hover, .categories-item > *.active {
    background-color: #111;
    color: yellow;
}

.products-list {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 1rem;
    margin-top: 2rem;
}

.product {
    position: relative;
    width: 400px;
    border-radius: 20px;
    transition: all .3s ease-in-out;
}

.product:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product img {
    width: 300px;
    margin-bottom: .3rem;
}

.product-description {
    color: rgb(94, 94, 94);
    padding: 0 4rem;
    margin: .6rem 0;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: green;
    margin-bottom: .5rem;
}

.on-sale .normal-price {
    position: relative;
    color: #111;
    font-size: 1rem;
}

.on-sale .normal-price::before {
    position: absolute;
    content: "";
    bottom: 12px;
    left: 0;
    width: 110%;
    height: 2px;
    background: black;
    transform: rotate(-10deg);
}

.sale-price {
    display: none;
}

.on-sale .sale-price {
    display: block;
}

.add-to-basket-btn {
    background: #111;
    font-size: 1.3rem;
    font-family: inherit;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    padding: .5rem .8rem;
    margin-bottom: .5rem;
    transition: all .3s ease-in-out;
}

.add-to-basket-btn:hover {
    color: yellow;
}

.special-offer {
    display: none;
    background-color: #111;
    position: absolute;
    color: yellow;
    top: 0;
    right: 0;
    opacity: .8;
    border-radius: 10px;
    padding: .5rem .8rem;
}

.on-sale .special-offer {
    display: block;
}

.empty-state {
    display: none;
}

.empty-state.active {
    display: block;
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
}

@media only screen and (min-width: 1300px) {
    main {
        flex-direction: row;
    }

    .categories-list {
        flex-direction: column;
        align-items: center;
        min-width: 350px;
        border-right: 1px solid black;
    }

    .categories-list h1 {
        background-color: rgb(220, 220, 83);
        width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: .5rem;
    }

    .categories-item {
        flex-direction: column;
        width: 90%;
        text-align: center;
    }
}