@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

:root {
    --color-black: #111;
    --color-white: #fff;
    --color-light-blue: rgb(203, 224, 245);
    --color-lightmedium-blue: rgb(169, 198, 227);
    --color-medium-blue: rgb(47, 113, 180);
    --color-mediumdark-blue: rgb(30, 73, 115);
    --color-dark-blue: rgb(19, 44, 70);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-medium-blue);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.dark-mode {
    background-color: var(--color-black);
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid var(--color-white);
    outline-width: 5px;
    cursor: pointer;
    position: relative;
    margin-bottom: 2rem;
}

.icon {
    background-color: var(--color-white);
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 30px;
    top: 3px;
    left: 10px;
    transition: all .3s ease-in-out;
}

.pw-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--color-mediumdark-blue);
    color: var(--color-white);
    border-radius: 2px;
    min-width: 400px;
    padding: 1rem;
}

.pw-container h2 {
    text-align: center;
    margin: 1rem;
}

.pw-header {
}

.pw-el {
    background-color: var(--color-dark-blue);
    position: relative;
    height: 50px;
    border-radius: 2px;
    margin: 1rem;
    padding: 1rem;
}

.pw-el span {

}

.pw-el button {
    background-color: var(--color-light-blue);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-family: inherit;
    font-weight: bold;
    color: var(--color-black);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 0 0.2rem;
}

.pw-el button:hover {
    background-color: var(--color-lightmedium-blue);
}

.pw-body {
    margin: 1rem;
}

.form-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.generate {
    background-color: var(--color-light-blue);
    color: var(--color-black);
    width: 100%;
    border-radius: 2px;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

.generate:hover {
    background-color: var(--color-lightmedium-blue);
}

/* LIGHT MODE */

body.light {
    --color-black: #111;
    --color-white: #fff;
    --color-light-blue: rgb(203, 224, 245);
    --color-lightmedium-blue: rgb(169, 198, 227);
    --color-medium-blue: rgb(47, 113, 180);
    --color-mediumdark-blue: rgb(30, 73, 115);
    --color-dark-blue: rgb(19, 44, 70);
}

body.light .icon {
    left: 0;
    transition: all .3s ease-in-out;
}

body.light .icon::after {
    content: "";
}

/* DARK MODE */

body.dark {
    --color-black: #fff;
    --color-white: #111;
    --color-light-blue: rgb(52, 31, 10);
    --color-lightmedium-blue: rgb(86, 57, 28);
    --color-medium-blue: rgb(208, 142, 75);
    --color-mediumdark-blue: rgb(225, 182, 140);
    --color-dark-blue: rgb(236, 211, 185);
}

body.dark .icon {
    left: 95px;
    transition: all .3s ease-in-out;
}

body.dark .icon::after {
    content: "";
    background-color: #fff;
    width: 35px;
    height: 35px;
    left: -12px;
    top: 2px;
    border-radius: 20px;
    position: absolute;
}

@media (prefers-color-scheme: dark) {
    body {
        --color-black: #fff;
        --color-white: #111;
        --color-light-blue: rgb(52, 31, 10);
        --color-lightmedium-blue: rgb(86, 57, 28);
        --color-medium-blue: rgb(208, 142, 75);
        --color-mediumdark-blue: rgb(225, 182, 140);
        --color-dark-blue: rgb(236, 211, 185);
    }
    
    body .icon {
        left: 95px;
        transition: all .3s ease-in-out;
    }
    
    body .icon::after {
        content: "";
        background-color: #fff;
        width: 35px;
        height: 35px;
        left: -12px;
        top: 2px;
        border-radius: 20px;
        position: absolute;
    }
}