@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d9e4f5;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(170, 125, 172);
    font-size: 5rem;
    opacity: 0.4;
}

.form {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 400px;
}

input {
    color: #5e5e5e;
    font-size: 2rem;
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem 2rem;
}

input::placeholder {
    color: #dedede;
}

.todos {
    list-style-type: none;
}

.todos li {
    color: #5e5e5e;
    font-size: 1.5rem;
    border-top: 1px solid #aeaeae;
    user-select: none;
    padding: 0.8rem 2rem;
}

.todos li.completed {
    color: #8b8b8b;
    text-decoration: line-through;
}

small {
    color: #918e8e;
    text-align: center;
    margin-top: 2rem;
}