@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(56, 50, 50);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.boxes {
    display: flex;
}

.boxes div,
.bottom-box .orange  {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    margin: 3rem 2rem;
}

.boxes div:nth-child(1) {
    background-color: rgb(152, 40, 40);
}

.boxes div:nth-child(2) {
    background-color: rgb(56, 128, 56);
}

.boxes div:nth-child(3) {
    background-color: rgb(67, 67, 218);
}

.orange {
    background-color: rgb(186, 142, 60);
}

.boxes div:hover {
    transform: scale(104%);
}

.orange:hover {
    cursor: pointer;
    opacity: .8;
}

.tooltip {
    background-color: #fff;
    width: 200px;
    position: absolute;
    top: -70px;
    right: -20px;
    text-align: center;
    border-radius: 15px;
    padding: 0.5rem;
}

.tooltip.bottom {
    transform: translateY(290px);
}

.tooltip::after {
    background-color: inherit;
    content: "";
    position: absolute;
    width: 8px;
    height: 15px;
    top: 30px;
    right: 180px;
    border-radius: 50px;
}

.tooltip.bottom::after {
    top: -6px;
    left: 10px;
}


.bottom-box {
    display: flex;
    justify-content: center;
    position: relative;
}

.tooltip-bottom {
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    top: 40px;
    right: 80px;
    display: flex;
    padding: 0.5rem;
}

.tooltip-bottom::after {
    background-color: inherit;
    content: "";
    position: absolute;
    width: 15px;
    height: 8px;
    top: 25px;
    left: -7px;
    border-radius: 50px;
}

.close-icon {
    cursor: pointer;
    margin: 0 0 0 1rem;
}

.close-icon:hover {
    font-weight: bold;
}

